{% extends 'base.html.twig' %}

{% block body %}

<p>Updated on: {{ updated|date('Y-m-d') }}</p>

<ul class="timeline">

    {% for milestone in data if milestone.state == "open" %}
        {% include 'milestone.html.twig' %}
    {% endfor %}

</ul>

    <hr>

    <h1>Closed Milestones</h1>

    <ul class="timeline">

        {% for milestone in data if milestone.state == "closed" and milestone.issues %}
            {% include 'milestone.html.twig' %}
        {% endfor %}

    </ul>

    {#{{ dump(data) }}#}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}